In [5]:
import pandas as pd
import numpy as np

In [6]:
url ='https://raw.githubusercontent.com/YashS-30/Pclub-Task-/refs/heads/main/Lumpy%20skin%20disease%20data.csv'
df = pd.read_csv(url)
df.head()

,x,y,region,country,reportingDate,cld,dtr,frs,pet,pre,tmn,tmp,tmx,vap,wet,elevation,dominant_land_cover,X5_Ct_2010_Da,X5_Bf_2010_Da,lumpy
0,90.380931,22.437184,Asia,Bangladesh,10/9/2020,41.6,12.8,0.00,2.3,1.7,12.7,19.1,25.5,15.7,0.00,147,2,27970.983100,3691.746950,1
1,87.854975,22.986757,Asia,India,20/12/2019,40.5,13.3,0.00,2.4,0.0,13.2,19.8,26.5,16.3,0.00,145,2,25063.646690,671.326701,1
2,85.279935,23.610181,Asia,India,20/12/2019,27.3,13.6,0.08,2.3,0.6,9.4,16.2,23.0,13.0,0.98,158,2,6038.477155,1426.839831,1
3,81.564510,43.882221,Asia,China,25/10/2019,45.3,12.8,31.00,0.4,8.8,-22.5,-16.1,-9.7,0.9,4.64,178,2,760.703340,0.000000,1
4,81.161057,43.834976,Asia,China,25/10/2019,38.8,13.2,31.00,0.4,10.5,-20.4,-13.8,-7.2,1.2,1.69,185,3,270.367426,0.000000,1

In [7]:
df.columns

Index(['x', 'y', 'region', 'country', 'reportingDate', 'cld', 'dtr', 'frs',
       'pet', 'pre', 'tmn', 'tmp', 'tmx', 'vap', 'wet', 'elevation',
       'dominant_land_cover', 'X5_Ct_2010_Da', 'X5_Bf_2010_Da', 'lumpy'],
      dtype='object')

In [8]:
df['region'].unique()

array(['Asia', 'Europe', 'Africa', nan], dtype=object)

In [9]:
df['region'].value_counts()

region
Europe    2172
Asia       777
Africa      90
Name: count, dtype: int64

In [10]:
df['country'].value_counts()

country
Albania                        858
Russian Federation             399
Turkey                         237
Israel                         233
Greece                         226
Serbia                         223
Bulgaria                       202
North Macedonia                186
Montenegro                      82
China                           71
Namibia                         68
West Bank                       50
Lebanon                         34
Iraq                            28
Azerbaijan                      16
Sri Lanka                       12
India                           12
Egypt                           12
Bangladesh                      11
Viet Nam                        11
Georgia                         10
Saudi Arabia                    10
Bhutan                           8
Nepal                            8
Guinea                           6
Iran  (Islamic Republic of)      5
Kuwait                           5
Syrian Arab Republic             3
Kazakhstan                       2
Jordan                           2
Cyprus                           2
Burundi                          2
Angola                           1
Armenia                          1
Myanmar                          1
Djibouti                         1
Hong Kong, SAR                   1
Name: count, dtype: int64

In [11]:
missing_values = df.isnull().sum()

print(missing_values)

x                          0
y                          0
region                 21764
country                21764
reportingDate          21764
cld                        0
dtr                        0
frs                        0
pet                        0
pre                        0
tmn                        0
tmp                        0
tmx                        0
vap                        0
wet                        0
elevation                  0
dominant_land_cover        0
X5_Ct_2010_Da              0
X5_Bf_2010_Da              0
lumpy                      0
dtype: int64